<header>
    <div class="prst">
        <h3>¡Hola! Josue</h3>
        <h5>Bienvenido a Inventary</h5>
    </div>
</header>
<div class="filt">
    <div class="filt-opt">
        <div class="btn-med">
            <a>Marca</a>
            <i class="bi bi-chevron-compact-down"></i>
        </div>
        <div class="btn-med">
            <a>Modelo</a>
            <i class="bi bi-chevron-compact-down"></i>
        </div>
        <div class="btn-big">
            <a>Procesador</a>
            <i class="bi bi-chevron-compact-down"></i>
        </div>
        <div class="btn-med">
            <a>Ram</a>
            <i class="bi bi-chevron-compact-down"></i>
        </div>
        <div class="btn-big">
            <a>Almacenamiento</a>
            <i class="bi bi-chevron-compact-down"></i>
        </div>
    </div>
    <div class="filt-opt">
        <div class="ipt-big">
            <a>Fecha de compra</a>
            <input type="range" id="points" name="points" min="0" max="10">
        </div>
        <div class="ipt-big">
            <a>Buscar</a>
            <input type="text" id="serial">
        </div>
    </div>
</div>
